@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "./month.css";
@import "./week.css";
@import "./day.css";

/* event */
.rbc-event {
  width: 90%;
  margin-left: 4px;
  padding: 0;
  background-color: transparent;
}
